.hello-world {
  margin-top: 10rem;

  .logo {
    display: block;
    width: 270px;
    height: auto;
    margin: 0 auto;
  }

  .message {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
  }
}

